{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Basic" %}

{% block content %}
    <h1>Basic</h1>

	<form method="post" action="{{ path('basic_add') }}" {{ form_enctype(form) }}>
		{{ form_widget(form) }}

		<input type="submit" value="Add" />
	</form>
{% endblock %}

{% set code = code(_self) %}
