{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Cypher Query" %}

{% block content %}
    <h1>Cypher Query</h1>

	<form method="get" action="{{ path('demo_cypher') }}">
		<textarea name="q" style="width: 100%; font-size: 1.3em;" rows="6">{{ query }}</textarea>
		<div>
			<input type="submit" class="symfony-button-green" value="Run" />
		</div>
	</form>
	
	<hr>

	{{ result | raw }}
{% endblock %}

