{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
    <h1>Execute Queries</h1>
    <ul id="demo-list">
		<li><a href="{{ path('demo_cypher') }}">Cypher Query</a>
		<li><a href="{{ path('demo_gremlin') }}">Gremlin Query</a>
		<li><a href="{{ path('basic_add')}}">Basic Add</a>
		<li><a href="{{ path('managed_add')}}">Managed Add</a>
    </ul>
{% endblock %}
