{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Node " ~ node.id %}

{% block content %}
    <h1>Node {{ node.id }}</h1>

	<dl>
		{% for key, value in node.properties %}
			<dt>{{ key }}:</dt>
			<dd>{{ value }}</dd>
		{% endfor %}
	</dl>

	{% if url %}
		<a href="{{ url }}">Details</a>
	{% endif %}
{% endblock %}

{% set code = code(_self) %}
